<!DOCTYPE html>
<html >

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.1.x" src="http://code.angularjs.org/1.1.5/angular.min.js" data-semver="1.1.5"></script>

    <script src="app.js?v=007"></script>
  </head>


  <body ng-app="averagely-gallery" ng-controller="GalleryCtrl">

      <!-- NAVBAR -->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#"><img src="icons/averagely_icon16.png" style="margin-bottom:4px;"> AVERAGELY</a>
            <ul class="nav">
              <li><a href="#/gallery">gallery</a></li>
              <li><a href="#/about">about</a></li>
              <li><a href="#/feedback">feedback</a></li>
            </ul>
            <div class="pull-right">
            </div>
          </div>
        </div>
      </div>

    <script type="text/ng-template" id="about">
      <div>
        This is about us!
      </div>
    </script>

    <script type="text/ng-template" id="feedback">
      <div>
        GIVE US FEEDBACK NOW!
      </div>
    </script>

     <script type="text/ng-template" id="gallery">

       <div class="container-fluid">
         <div class="box" ng-repeat="(id, imgdata) in data">
           <div class="imgwrp">
             <a href="#/img/{{id}}">
               <img ng-src="{{imgdata.thumb}}">
             </a>
           </div>
           <div class="info">
             <span class="img-name">{{imgdata.name}}</span> |
             <span class="img-artist">{{imgdata.artist}}</span>
           </div>
         </div>

         <div class="modal fade in" ng-class="{'hide': 'nogo'}" style="text-align:center;">
           <div class="modal-header">
             <a class="close" data-dismiss="modal" ng-click="nogo=true">×</a>
             <span>{{imgfordialog.name}}</span>
             <span>{{imgfordialog.artist}}</span>
           </div>

           <div class="modal-body" style="max-height:600px">
             <img ng-src="{{imgfordialog.src}}">
           </div>
         </div>
       </div>
     </script>

    <div ng-view>
      Loading...
    </div>

  </body>

</html>
